<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Samba.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <connectionStrings>
    <add name="DataContext" connectionString="Server=.\Ashoam;DataBase=AshoamPos;user id=sa;password=The99Admin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Samba.Presentation.Properties.Settings>
      <setting name="VCHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="VCWidth" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="ShellHeight" serializeAs="String">
        <value>768</value>
      </setting>
      <setting name="ShellWidth" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="SGHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="SGWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="PEHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="PEWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="LSHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="LSWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="KeyboardHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeyboardWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeyboardTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeyboardLeft" serializeAs="String">
        <value>0</value>
      </setting>
    </Samba.Presentation.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
